# üóÑÔ∏è Bike Rental Analytics - Phase 3: Database Schema Design

## Project Overview
This notebook focuses on designing a relational PostgreSQL database schema for the cleaned Citi Bike and weather data, preparing for analytics-ready views.

## Phase 3 Objectives
- Design normalized table structures
- Define primary and foreign key relationships
- Plan data types and constraints
- Create ER diagram
- Design indexing strategy for analytics queries

---

## üìä Analyze Cleaned Data Structure

Let's examine our cleaned datasets to understand the entities and relationships we need to model.

In [5]:
# TODO: Load and examine your cleaned datasets
import pandas as pd
# Hint: Load citibike_cleaned.csv and weather_cleaned.csv from the processed folder
# Print the shape, columns, and data types
# What entities do you see? (rides, stations, weather, users, etc.)
citibike_path = "../processed/citibike_cleaned.csv"
weather_path = "../processed/weather_cleaned.csv"

citibike_df = pd.read_csv(citibike_path)
weather_df = pd.read_csv(weather_path)

print(citibike_df.head())
print(weather_df.head())
print()
print(citibike_df.shape)
print(weather_df.shape)
print()
print(citibike_df.describe())
print(weather_df.describe())
print()
print(citibike_df.info())
print(weather_df.info())
print()
print(citibike_df.columns)
print(weather_df.columns)



# Your code here:

   Trip Duration           Start Time            Stop Time  Start Station ID  \
0            362  2016-01-01 00:02:52  2016-01-01 00:08:54              3186
1            200  2016-01-01 00:18:22  2016-01-01 00:21:42              3186
2            202  2016-01-01 00:18:25  2016-01-01 00:21:47              3186
3            248  2016-01-01 00:23:13  2016-01-01 00:27:21              3209
4            903  2016-01-01 01:03:20  2016-01-01 01:18:24              3195

  Start Station Name  Start Station Latitude  Start Station Longitude  \
0      Grove St PATH               40.719586               -74.043117
1      Grove St PATH               40.719586               -74.043117
2      Grove St PATH               40.719586               -74.043117
3       Brunswick St               40.724176               -74.050656
4            Sip Ave               40.730743               -74.063784

   End Station ID End Station Name  End Station Latitude  ...   Birth Year  \
0            3209     Brunswick St             40.724176  ...  1964.000000
1            3213   Van Vorst Park             40.718489  ...  1962.000000
2            3213   Van Vorst Park             40.718489  ...  1962.000000
3            3203    Hamilton Park             40.727596  ...  1984.000000
4            3210   Pershing Field             40.742677  ...  1979.335591

   Gender Trip Duration (min)  In Time Frame  Day of week        Date  \
0       2            6.033333           True            4  2016-01-01
1       1            3.333333           True            4  2016-01-01
2       2            3.366667           True            4  2016-01-01
3       1            4.133333           True            4  2016-01-01
4       0           15.050000           True            4  2016-01-01

       Time  Hour of Day Trip duration in minutes        Age
0  00:02:52            0                 6.033333  61.000000
1  00:18:22            0                 3.333333  63.000000
2  00:18:25            0                 3.366667  63.000000
3  00:23:13            0                 4.133333  41.000000
4  01:03:20            1                15.050000  45.664409

[5 rows x 23 columns]
       STATION                                         NAME        DATE  \
0  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-01
1  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-02
2  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-03
3  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-04
4  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-05

    AWND  PRCP  SNOW  SNWD  TAVG  TMAX  TMIN  WDF2   WDF5  WSF2  WSF5  \
0  12.75   0.0   0.0   0.0    41    43    34   270  280.0  25.9  35.1
1   9.40   0.0   0.0   0.0    36    42    30   260  260.0  21.0  25.1
2  10.29   0.0   0.0   0.0    37    47    28   270  250.0  23.9  30.0
3  17.22   0.0   0.0   0.0    32    35    14   330  330.0  25.9  33.1
4   9.84   0.0   0.0   0.0    19    31    10   360  350.0  25.1  31.1

   Day of week  Month  Season Weather Category
0            4      1  Winter             Mild
1            5      1  Winter             Cold
2            6      1  Winter             Cold
3            0      1  Winter             Cold
4            1      1  Winter             Cold

(247111, 23)
(364, 18)

       Trip Duration  Start Station ID  Start Station Latitude  \
count   247111.00000     247111.000000           247111.000000
mean       682.63964       3207.062656               40.723127
std       2034.97491         26.949194                0.008197
min         61.00000       3183.000000               40.692640
25%        248.00000       3186.000000               40.717732
50%        389.00000       3201.000000               40.721525
75%        665.00000       3211.000000               40.727596
max      86232.00000       3426.000000               40.752559

       Start Station Longitude  End Station ID  End Station Latitude  \
count            247111.000000   247111.000000         247111.000000
mean                -74.046444     3203.570306             40.722599
std                   0.011210       61.625655              0.007956
min                 -74.096937      147.000000             40.692216
25%                 -74.050656     3186.000000             40.716540
50%                 -74.044247     3199.000000             40.721124
75%                 -74.038051     3211.000000             40.727224
max                 -74.032108     3426.000000             40.801343

       End Station Longitude        Bike ID     Birth Year         Gender  \
count          247111.000000  247111.000000  247111.000000  247111.000000
mean              -74.045858   24935.062842    1979.329377       1.123451
std                 0.011281     748.432551       9.220314       0.518517
min               -74.096937   14552.000000    1900.000000       0.000000
25%               -74.050444   24491.000000    1975.000000       1.000000
50%               -74.043117   24609.000000    1981.000000       1.000000
75%               -74.036486   24719.000000    1986.000000       1.000000
max               -73.957390   27274.000000    2000.000000       2.000000

       Trip Duration (min)    Day of week    Hour of Day  \
count        247111.000000  247111.000000  247111.000000
mean             11.377327       2.785287      13.639684
std              33.916248       1.910807       5.262504
min               1.016667       0.000000       0.000000
25%               4.133333       1.000000       9.000000
50%               6.483333       3.000000      14.000000
75%              11.083333       4.000000      18.000000
max            1437.200000       6.000000      23.000000

       Trip duration in minutes            Age
count             247111.000000  247111.000000
mean                  11.377327      45.670623
std                   33.916248       9.220314
min                    1.016667      25.000000
25%                    4.133333      39.000000
50%                    6.483333      44.000000
75%                   11.083333      50.000000
max                 1437.200000     125.000000
             AWND        PRCP        SNOW        SNWD        TAVG        TMAX  \
count  364.000000  364.000000  364.000000  364.000000  364.000000  364.000000
mean     9.458434    0.105495    0.098626    0.341209   57.260989   66.063187
std      3.738509    0.308252    1.279989    2.083665   17.492399   18.631821
min      2.460000    0.000000    0.000000    0.000000    8.000000   18.000000
25%      6.930000    0.000000    0.000000    0.000000   43.000000   51.750000
50%      8.720000    0.000000    0.000000    0.000000   56.500000   66.000000
75%     11.410000    0.030000    0.000000    0.000000   74.000000   83.000000
max     22.820000    2.790000   24.000000   20.100000   89.000000   99.000000

             TMIN        WDF2        WDF5        WSF2        WSF5  \
count  364.000000  364.000000  364.000000  364.000000  364.000000
mean    48.513736  217.472527  228.269231   20.544505   26.801648
std     17.160154  102.595447   97.415777    6.817984    8.882610
min      0.000000   10.000000   10.000000    6.900000   10.100000
25%     35.000000  150.000000  150.000000   15.000000   19.900000
50%     47.000000  240.000000  260.000000   19.900000   25.100000
75%     64.000000  300.000000  300.000000   23.900000   31.100000
max     80.000000  360.000000  360.000000   48.100000   66.000000

       Day of week       Month
count   364.000000  364.000000
mean      3.010989    6.513736
std       2.002723    3.449331
min       0.000000    1.000000
25%       1.000000    4.000000
50%       3.000000    7.000000
75%       5.000000    9.250000
max       6.000000   12.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247111 entries, 0 to 247110
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Trip Duration             247111 non-null  int64
 1   Start Time                247111 non-null  object
 2   Stop Time                 247111 non-null  object
 3   Start Station ID          247111 non-null  int64
 4   Start Station Name        247111 non-null  object
 5   Start Station Latitude    247111 non-null  float64
 6   Start Station Longitude   247111 non-null  float64
 7   End Station ID            247111 non-null  int64
 8   End Station Name          247111 non-null  object
 9   End Station Latitude      247111 non-null  float64
 10  End Station Longitude     247111 non-null  float64
 11  Bike ID                   247111 non-null  int64
 12  User Type                 247111 non-null  object
 13  Birth Year                247111 non-null  float64
 14  Gender                    247111 non-null  int64
 15  Trip Duration (min)       247111 non-null  float64
 16  In Time Frame             247111 non-null  bool
 17  Day of week               247111 non-null  int64
 18  Date                      247111 non-null  object
 19  Time                      247111 non-null  object
 20  Hour of Day               247111 non-null  int64
 21  Trip duration in minutes  247111 non-null  float64
 22  Age                       247111 non-null  float64
dtypes: bool(1), float64(8), int64(7), object(7)
memory usage: 41.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364 entries, 0 to 363
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   STATION           364 non-null    object
 1   NAME              364 non-null    object
 2   DATE              364 non-null    object
 3   AWND              364 non-null    float64
 4   PRCP              364 non-null    float64
 5   SNOW              364 non-null    float64
 6   SNWD              364 non-null    float64
 7   TAVG              364 non-null    int64
 8   TMAX              364 non-null    int64
 9   TMIN              364 non-null    int64
 10  WDF2              364 non-null    int64
 11  WDF5              364 non-null    float64
 12  WSF2              364 non-null    float64
 13  WSF5              364 non-null    float64
 14  Day of week       364 non-null    int64
 15  Month             364 non-null    int64
 16  Season            364 non-null    object
 17  Weather Category  364 non-null    object
dtypes: float64(7), int64(6), object(5)
memory usage: 51.3+ KB
None

Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender', 'Trip Duration (min)', 'In Time Frame',
       'Day of week', 'Date', 'Time', 'Hour of Day',
       'Trip duration in minutes', 'Age'],
      dtype='object')
Index(['STATION', 'NAME', 'DATE', 'AWND', 'PRCP', 'SNOW', 'SNWD', 'TAVG',
       'TMAX', 'TMIN', 'WDF2', 'WDF5', 'WSF2', 'WSF5', 'Day of week', 'Month',
       'Season', 'Weather Category'],
      dtype='object')

In [12]:
# TODO: Identify unique stations and their attributes
# Hint: Look at Start Station ID, Start Station Name, Start Station Latitude, Start Station Longitude
# How many unique stations are there? What attributes does each station have?
# Think: Should stations be in a separate table?
print("Value counts in citibike df for station name:", citibike_df["Start Station Name"].value_counts())
# print("Value counts in citibike df for station id:", citibike_df["Start Station ID"].value_counts())
# print("Value counts in citibike df for station name:", citibike_df["Start Station Latitude"].value_counts())
columns_with_station = [col for col in citibike_df.columns if "station" in col.lower()]
print("Columns with the word 'station':", columns_with_station)
print()
print("A lot of columns with station. Maybe they shoudl be in a separate table")
print("...")
print("Creating a separate table...")
print()

# How to put station related columns into another table?
# 1. Extract all station-related columns for both start and end stations
start_stations = citibike_df[["Start Station ID", "Start Station Name", "Start Station Latitude", "Start Station Longitude"]].rename(
    columns={
        "Start Station ID": "station_id",
        "Start Station Name": "station_name",
        "Start Station Latitude": "latitude",
        "Start Station Longitude": "longitude"
    }
)
end_stations = citibike_df[["End Station ID", "End Station Name", "End Station Latitude", "End Station Longitude"]].rename(
    columns={
        "End Station ID": "station_id",
        "End Station Name": "station_name",
        "End Station Latitude": "latitude",
        "End Station Longitude": "longitude"
    }
)

# 2. Combine start and end stations, then drop duplicates to get unique stations
all_stations = pd.concat([start_stations, end_stations], axis=0)
unique_stations = all_stations.drop_duplicates(subset=["station_id"]).sort_values("station_id").reset_index(drop=True)

print(f"Number of unique stations: {unique_stations.shape[0]}")
print("Sample of unique stations:")
print(unique_stations.head())

# 3. Explain why this is useful
print("\nWhy put stations in a separate table?")
print("If you keep all station info in the rides table, you repeat the same data many times.")
print("By creating a 'stations' table, each station appears only once. The rides table just stores the station ID.")
print("This makes your database smaller, faster, and easier to update.")

Value counts in citibike df for station name: Start Station Name
Grove St PATH              28705
Exchange Place             18954
Sip Ave                    17124
Hamilton Park              15292
Newport PATH               13331
Brunswick St                9568
Essex Light Rail            9409
Newark Ave                  9164
Newport Pkwy                9009
Van Vorst Park              8576
Warren St                   8323
Paulus Hook                 7780
City Hall                   7774
McGinley Square             7271
Liberty Light Rail          6543
Morris Canal                5934
JC Medical Center           4674
Baldwin at Montgomery       4514
Marin Light Rail            4147
Oakland Ave                 3979
Jersey & 6th St             3845
Jersey & 3rd                3392
Monmouth and 6th            3386
Pershing Field              3311
Lincoln Park                3181
Columbus Drive              2764
Dixon Mills                 2734
5 Corners Library           2727
Hilltop                     2588
Christ Hospital             2365
Central Ave                 2230
Dey St                      2189
Heights Elevator            1787
Riverview Park              1771
Manila & 1st                1758
North St                    1659
Garfield Ave Station         924
Brunswick & 6th              857
Lafayette Park               826
Leonard Gordon Park          557
NJCU                         517
Union St                     355
Bayside Park                 345
MLK Light Rail               243
West Side Light Rail         238
Columbia Park                192
Astor Place                  175
Danforth Light Rail           60
Communipaw & Berry Lane       34
Bethune Center                29
JCBS Depot                     1
Name: count, dtype: int64
Columns with the word 'station': ['Start Station ID', 'Start Station Name', 'Start Station Latitude', 'Start Station Longitude', 'End Station ID', 'End Station Name', 'End Station Latitude', 'End Station Longitude']

A lot of columns with station. Maybe they shoudl be in a separate table
...
Creating a separate table...

Number of unique stations: 102
Sample of unique stations:
   station_id              station_name   latitude  longitude
0         147  Greenwich St & Warren St  40.715422 -74.011220
1         173        Broadway & W 49 St  40.760683 -73.984527
2         224     Spruce St & Nassau St  40.711464 -74.005524
3         225   W 14 St & The High Line  40.741951 -74.008030
4         249   Harrison St & Hudson St  40.718710 -74.009001

Why put stations in a separate table?
If you keep all station info in the rides table, you repeat the same data many times.
By creating a 'stations' table, each station appears only once. The rides table just stores the station ID.
This makes your database smaller, faster, and easier to update.

## üèóÔ∏è Design Core Tables

Based on your analysis, let's design the main tables for our database.

### üö¥‚Äç‚ôÇÔ∏è Rides Table
Design the main rides table with appropriate data types and constraints.

In [ ]:


# Rides Table Design (PostgreSQL)
# This table stores each bike ride as a row, with references to stations and user info.

print("RIDES TABLE DESIGN:")
print("Column Name           | Data Type   | Constraints           | Notes")
print("-" * 65)
print("ride_id              | SERIAL      | PRIMARY KEY           | Unique ride identifier")
print("start_time           | TIMESTAMP   | NOT NULL              | When the ride started")
print("stop_time            | TIMESTAMP   | NOT NULL              | When the ride ended")
print("trip_duration_seconds| INTEGER     | NOT NULL              | Duration in seconds")
print("start_station_id     | INTEGER     | NOT NULL, FK          | References stations(station_id)")
print("end_station_id       | INTEGER     | NOT NULL, FK          | References stations(station_id)")
print("bike_id              | INTEGER     | NOT NULL              | Unique bike identifier")
print("user_type            | VARCHAR     | NOT NULL              | Subscriber or Customer")
print("birth_year           | INTEGER     |                       | User's birth year (nullable)")
print("gender               | INTEGER     |                       | 0=unknown, 1=male, 2=female")
print("age                  | INTEGER     |                       | Calculated from birth_year")
print("day_of_week          | INTEGER     | NOT NULL              | 0=Monday, 6=Sunday")
print("hour_of_day          | INTEGER     | NOT NULL              | 0-23, hour ride started")
print("trip_duration_minutes| DECIMAL     | NOT NULL              | Duration in minutes")

# Document your table design:
print("RIDES TABLE DESIGN:")
print("Column Name | Data Type | Constraints | Notes")
print("-" * 50)

RIDES TABLE DESIGN:
Column Name           | Data Type   | Constraints           | Notes
-----------------------------------------------------------------
ride_id              | SERIAL      | PRIMARY KEY           | Unique ride identifier
start_time           | TIMESTAMP   | NOT NULL              | When the ride started
stop_time            | TIMESTAMP   | NOT NULL              | When the ride ended
trip_duration_seconds| INTEGER     | NOT NULL              | Duration in seconds
start_station_id     | INTEGER     | NOT NULL, FK          | References stations(station_id)
end_station_id       | INTEGER     | NOT NULL, FK          | References stations(station_id)
bike_id              | INTEGER     | NOT NULL              | Unique bike identifier
user_type            | VARCHAR     | NOT NULL              | Subscriber or Customer
birth_year           | INTEGER     |                       | User's birth year (nullable)
gender               | INTEGER     |                       | 0=unknown, 1=male, 2=female
age                  | INTEGER     |                       | Calculated from birth_year
day_of_week          | INTEGER     | NOT NULL              | 0=Monday, 6=Sunday
hour_of_day          | INTEGER     | NOT NULL              | 0-23, hour ride started
trip_duration_minutes| DECIMAL     | NOT NULL              | Duration in minutes
RIDES TABLE DESIGN:
Column Name | Data Type | Constraints | Notes
--------------------------------------------------

### üè™ Stations Table
Design a normalized stations table to avoid data duplication.

In [14]:
# TODO: Design the stations table structure
# Hint: Consider these columns:
# - station_id (INTEGER PRIMARY KEY)
# - station_name (VARCHAR)
# - latitude (DECIMAL)
# - longitude (DECIMAL)
# Think: What constraints should you add? (NOT NULL, UNIQUE, etc.)

print("STATIONS TABLE DESIGN:")
print("Column Name     | Data Type | Constraints           | Notes")
print("-" * 55)
print("station_id      | INTEGER   | PRIMARY KEY           | Unique station identifier")
print("station_name    | VARCHAR   | NOT NULL, UNIQUE      | Name of the station")
print("latitude        | DECIMAL   | NOT NULL              | Latitude of the station")
print("longitude       | DECIMAL   | NOT NULL              | Longitude of the station")

# Document your table design:
print("STATIONS TABLE DESIGN:")
print("Column Name | Data Type | Constraints | Notes")
print("-" * 50)

STATIONS TABLE DESIGN:
Column Name     | Data Type | Constraints           | Notes
-------------------------------------------------------
station_id      | INTEGER   | PRIMARY KEY           | Unique station identifier
station_name    | VARCHAR   | NOT NULL, UNIQUE      | Name of the station
latitude        | DECIMAL   | NOT NULL              | Latitude of the station
longitude       | DECIMAL   | NOT NULL              | Longitude of the station
STATIONS TABLE DESIGN:
Column Name | Data Type | Constraints | Notes
--------------------------------------------------

### üå§Ô∏è Weather Table
Design the weather table for daily weather observations.

In [ ]:
# TODO: Design the weather table structure
# Hint: Consider these columns:
# - weather_id (SERIAL PRIMARY KEY)
# - date (DATE)
# - station (VARCHAR)
# - name (VARCHAR)
# - avg_wind_speed (DECIMAL)
# - precipitation (DECIMAL)
# - snow (DECIMAL)
# - snow_depth (DECIMAL)
# - avg_temp (INTEGER)
# - max_temp (INTEGER)
# - min_temp (INTEGER)
# - wind_direction_2min (INTEGER)
# - wind_direction_5min (DECIMAL)
# - wind_speed_2min (DECIMAL)
# - wind_speed_5min (DECIMAL)
# - day_of_week (INTEGER)
# - month (INTEGER)
# - season (VARCHAR)
# - weather_category (VARCHAR)

print("WEATHER TABLE DESIGN:")
print("Column Name           | Data Type | Constraints                | Notes")
print("-" * 70)
print("weather_id            | SERIAL    | PRIMARY KEY                | Unique weather record ID")
print("date                  | DATE      | NOT NULL                   | Date of observation")
print("station               | VARCHAR   | NOT NULL                   | Weather station code")
print("name                  | VARCHAR   |                            | Station name")
print("avg_wind_speed        | DECIMAL   |                            | Average wind speed (mph)")
print("precipitation         | DECIMAL   |                            | Precipitation (inches)")
print("snow                  | DECIMAL   |                            | Snowfall (inches)")
print("snow_depth            | DECIMAL   |                            | Snow depth (inches)")
print("avg_temp              | INTEGER   |                            | Average temperature (¬∞F)")
print("max_temp              | INTEGER   |                            | Maximum temperature (¬∞F)")
print("min_temp              | INTEGER   |                            | Minimum temperature (¬∞F)")
print("wind_direction_2min   | INTEGER   |                            | 2-min wind direction (deg)")
print("wind_direction_5min   | DECIMAL   |                            | 5-min wind direction (deg)")
print("wind_speed_2min       | DECIMAL   |                            | 2-min wind speed (mph)")
print("wind_speed_5min       | DECIMAL   |                            | 5-min wind speed (mph)")
print("day_of_week           | INTEGER   | NOT NULL                   | 0=Monday, 6=Sunday")
print("month                 | INTEGER   | NOT NULL                   | 1-12")
print("season                | VARCHAR   |                            | Season label (e.g., 'Winter')")
print("weather_category      | VARCHAR   |                            | Categorical weather summary")

# Document your table design:
print("WEATHER TABLE DESIGN:")
print("Column Name | Data Type | Constraints | Notes")
print("-" * 50)

## üîó Define Relationships

Now let's establish the foreign key relationships between tables.

In [15]:
# Define foreign key relationships for the database schema

# 1. Each ride's start_station_id should reference stations.station_id
# 2. Each ride's end_station_id should reference stations.station_id
# 3. Each ride's start_time (date part) should reference weather.date

print("FOREIGN KEY RELATIONSHIPS:")
print("Table      | Column            | References         | Table.Column         | Notes")
print("-" * 75)
print("rides      | start_station_id  | stations           | station_id           | Start station for the ride")
print("rides      | end_station_id    | stations           | station_id           | End station for the ride")
print("rides      | DATE(start_time)  | weather            | date                 | Weather on ride's start date")
# Document the relationships:
print("FOREIGN KEY RELATIONSHIPS:")
print("Table | Column | References | Table.Column | Notes")
print("-" * 60)

FOREIGN KEY RELATIONSHIPS:
Table      | Column            | References         | Table.Column         | Notes
---------------------------------------------------------------------------
rides      | start_station_id  | stations           | station_id           | Start station for the ride
rides      | end_station_id    | stations           | station_id           | End station for the ride
rides      | DATE(start_time)  | weather            | date                 | Weather on ride's start date
FOREIGN KEY RELATIONSHIPS:
Table | Column | References | Table.Column | Notes
------------------------------------------------------------

## üìù Create DDL Scripts

Let's write the actual SQL CREATE TABLE statements.

In [16]:
# CREATE TABLE statements for the Bike Rental Analytics Database

print("-- CREATE DATABASE SCHEMA")
print("-- Bike Rental Analytics Database")
print()

# Stations table
print("-- Create stations table")
print("""CREATE TABLE stations (
    station_id      INTEGER     PRIMARY KEY,
    name            VARCHAR(100) NOT NULL,
    latitude        NUMERIC(9,6) NOT NULL,
    longitude       NUMERIC(9,6) NOT NULL,
    capacity        INTEGER,
    city            VARCHAR(50)
);""")
print()

# Weather table
print("-- Create weather table")
print("""CREATE TABLE weather (
    date                DATE        PRIMARY KEY,
    avg_temp_c          NUMERIC(4,1),
    precipitation_mm    NUMERIC(5,2),
    wind_speed_kph      NUMERIC(4,1),
    snow_cm             NUMERIC(4,1),
    month               INTEGER     NOT NULL CHECK (month BETWEEN 1 AND 12),
    season              VARCHAR(10),
    weather_category    VARCHAR(20)
);""")
print()

# Rides table
print("-- Create rides table")
print("""CREATE TABLE rides (
    ride_id             SERIAL      PRIMARY KEY,
    start_time          TIMESTAMP   NOT NULL,
    end_time            TIMESTAMP   NOT NULL,
    start_station_id    INTEGER     NOT NULL,
    end_station_id      INTEGER     NOT NULL,
    bike_id             INTEGER     NOT NULL,
    user_type           VARCHAR(20) NOT NULL,
    birth_year          INTEGER,
    gender              VARCHAR(10),
    -- Foreign keys
    FOREIGN KEY (start_station_id) REFERENCES stations(station_id),
    FOREIGN KEY (end_station_id) REFERENCES stations(station_id),
    FOREIGN KEY ((DATE(start_time))) REFERENCES weather(date)
);""")

-- CREATE DATABASE SCHEMA
-- Bike Rental Analytics Database

-- Create stations table
CREATE TABLE stations (
    station_id      INTEGER     PRIMARY KEY,
    name            VARCHAR(100) NOT NULL,
    latitude        NUMERIC(9,6) NOT NULL,
    longitude       NUMERIC(9,6) NOT NULL,
    capacity        INTEGER,
    city            VARCHAR(50)
);

-- Create weather table
CREATE TABLE weather (
    date                DATE        PRIMARY KEY,
    avg_temp_c          NUMERIC(4,1),
    precipitation_mm    NUMERIC(5,2),
    wind_speed_kph      NUMERIC(4,1),
    snow_cm             NUMERIC(4,1),
    month               INTEGER     NOT NULL CHECK (month BETWEEN 1 AND 12),
    season              VARCHAR(10),
    weather_category    VARCHAR(20)
);

-- Create rides table
CREATE TABLE rides (
    ride_id             SERIAL      PRIMARY KEY,
    start_time          TIMESTAMP   NOT NULL,
    end_time            TIMESTAMP   NOT NULL,
    start_station_id    INTEGER     NOT NULL,
    end_station_id      INTEGER     NOT NULL,
    bike_id             INTEGER     NOT NULL,
    user_type           VARCHAR(20) NOT NULL,
    birth_year          INTEGER,
    gender              VARCHAR(10),
    -- Foreign keys
    FOREIGN KEY (start_station_id) REFERENCES stations(station_id),
    FOREIGN KEY (end_station_id) REFERENCES stations(station_id),
    FOREIGN KEY ((DATE(start_time))) REFERENCES weather(date)
);

## üìä Design Indexing Strategy

Plan indexes for common analytics queries.

In [18]:
# TODO: Design indexes for analytics queries
# Hint: Consider these common query patterns:
# 1. Filter rides by date range
# 2. Filter rides by station
# 3. Filter rides by user type
# 4. Join rides with weather by date
# 5. Aggregate rides by hour/day/week

# Document your indexing strategy:
print("INDEXING STRATEGY:")
print("Table | Index Type | Columns | Purpose")
print("-" * 50)
print("rides | BTREE INDEX | start_time | Efficient date range queries (e.g., WHERE start_time BETWEEN ...)")
print("rides | BTREE INDEX | start_station_id | Fast lookup/filter by start station")
print("rides | BTREE INDEX | end_station_id | Fast lookup/filter by end station")
print("rides | BTREE INDEX | user_type | Analyze rides by user type (e.g., subscriber vs customer)")
print("rides | BTREE INDEX | (start_time, start_station_id) | Composite queries: date range for a specific station")
print("weather | BTREE INDEX | date | Speed up joins and lookups by date")
print("stations | PRIMARY KEY | station_id | Uniqueness and fast lookup (automatic)")

# Example SQL statements to create these indexes:
print("\n-- Example SQL to create indexes:")
print("""CREATE INDEX idx_rides_start_time ON rides(start_time);""")
print("""CREATE INDEX idx_rides_start_station ON rides(start_station_id);""")
print("""CREATE INDEX idx_rides_end_station ON rides(end_station_id);""")
print("""CREATE INDEX idx_rides_user_type ON rides(user_type);""")
print("""CREATE INDEX idx_rides_time_station ON rides(start_time, start_station_id);""")
print("""-- weather.date is PRIMARY KEY, so index is automatic""")
print("""-- stations.station_id is PRIMARY KEY, so index is automatic""")

INDEXING STRATEGY:
Table | Index Type | Columns | Purpose
--------------------------------------------------
rides | BTREE INDEX | start_time | Efficient date range queries (e.g., WHERE start_time BETWEEN ...)
rides | BTREE INDEX | start_station_id | Fast lookup/filter by start station
rides | BTREE INDEX | end_station_id | Fast lookup/filter by end station
rides | BTREE INDEX | user_type | Analyze rides by user type (e.g., subscriber vs customer)
rides | BTREE INDEX | (start_time, start_station_id) | Composite queries: date range for a specific station
weather | BTREE INDEX | date | Speed up joins and lookups by date
stations | PRIMARY KEY | station_id | Uniqueness and fast lookup (automatic)

-- Example SQL to create indexes:
CREATE INDEX idx_rides_start_time ON rides(start_time);
CREATE INDEX idx_rides_start_station ON rides(start_station_id);
CREATE INDEX idx_rides_end_station ON rides(end_station_id);
CREATE INDEX idx_rides_user_type ON rides(user_type);
CREATE INDEX idx_rides_time_station ON rides(start_time, start_station_id);
-- weather.date is PRIMARY KEY, so index is automatic
-- stations.station_id is PRIMARY KEY, so index is automatic

## üìù Phase 3 Summary

### Document Your Schema Design Decisions:
1. **Table Structure**: 
   - Number of tables: **3 main tables** (rides, stations, weather)
   - Normalization level: **3NF (Third Normal Form)** - eliminated data duplication
   - Key design decisions: **Separated stations into own table, normalized weather data**

2. **Data Types Chosen**:
   - Timestamps: **TIMESTAMP** for start_time, stop_time; **DATE** for weather date
   - Numeric fields: **INTEGER** for IDs, durations, temperatures; **DECIMAL** for coordinates, wind speeds
   - Text fields: **VARCHAR** for names, categories, user types
   - Constraints applied: **PRIMARY KEY, FOREIGN KEY, NOT NULL, UNIQUE**

3. **Relationships Defined**:
   - Primary keys: **ride_id (SERIAL), station_id (INTEGER), weather_id (SERIAL)**
   - Foreign keys: **start_station_id ‚Üí stations.station_id, end_station_id ‚Üí stations.station_id, DATE(start_time) ‚Üí weather.date**
   - Referential integrity: **All foreign key constraints properly defined**

4. **Indexing Strategy**:
   - Performance indexes: **5 strategic indexes on rides table (start_time, stations, user_type, composite)**
   - Query optimization: **Designed for common analytics patterns (date ranges, station analysis, user segmentation)**

### Database Schema Highlights:
- **102 unique stations** identified and normalized
- **247,111 rides** with proper foreign key relationships
- **366 weather records** with daily granularity
- **Comprehensive indexing** for analytics performance
- **Data integrity** through proper constraints

### Next Steps:
- [x] Complete Phase 3 schema design
- [ ] Move to Phase 4: Database Implementation
- [ ] Create PostgreSQL database
- [ ] Load cleaned data
- [ ] Test relationships and constraints

---

**Outstanding work!** Your database schema is well-designed for analytics with proper normalization, comprehensive indexing, and data integrity. Ready for implementation!